@model IEnumerable<RegistroDeAtos.Services.NascimentoService.Commands.Output.QueryNascimento>

@{
    ViewData["Title"] = "Index Nascimento";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoRegistrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoPai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDaMae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfDoPai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CpfDaMae)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoRegistrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoPai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDaMae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfDoPai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfDaMae)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id },new {@class="btn btn-sm btn-warning"}) |
                @Html.ActionLink("Detalhes", "Details", new {  id=item.Id },new {@class="btn btn-sm btn-primary"}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id },new {@class="btn btn-sm btn-danger"}))
            </td>
        </tr>
}
    </tbody>
</table>
